<div class="flex flex-col gap-6 pb-6 border rounded border-[#E4E7E9]">
    <div class="flex justify-between border rounded-t items-center  border-[#E4E7E9] px-6 py-2">
        <p class="text-sm text-[#191C1F] font-medium">ADD NEW CARD</p>
        <button>
            <app-close></app-close>
        </button>
    </div>

    <div class="flex flex-col gap-4 px-6">
        <div class="flex flex-col gap-2">
            <p class="text-sm text-[#191C1F] font-normal">Name on Card</p>
            <input type="text" class="input-control">
        </div>
        <div class="flex flex-col gap-2">
            <p class="text-sm text-[#191C1F] font-normal">Card Number</p>
            <input type="text" class="input-control">
        </div>
        <div class="flex gap-4">
            <div class="flex flex-col gap-2 flex-1">
                <p class="text-sm text-[#191C1F] font-normal">Expire Date</p>
                <input type="text" class="input-control">
            </div>
            <div class="flex flex-col gap-2  flex-1">
                <p class="text-sm text-[#191C1F] font-normal">CVC</p>
                <input type="text" class="input-control">
            </div>
        </div>
    </div>

    <div class="pl-6">
        <button class="bg-[#FA8232] border rounded px-6 py-2 text-[#FFFFFF] text-sm font-bold">ADD CARD</button>

    </div>
</div>