<div class="container mx-auto">

    <div class="md:flex-row md:gap-7 md:p-4 border rounded border-[#E4E7E9]  md:my-5 md:items-center flex flex-col  ">
        <div class="flex flex-1  gap-4 p-4 items-center ">
            <div>
                <app-package></app-package>
            </div>
            <div class="flex   flex-col gap-1">
                <h1 class="text-sm font-medium text-[#191C1F]">FASTED DELIVERY</h1>
                <p class="text-sm font-normal text-[#5F6C72]">Delivery in 24/H</p>
            </div>
        </div>

        <div>
            <app-verticalline></app-verticalline>
        </div>

        <div class="flex flex-1  gap-4 p-4 items-center ">
            <div>
                <app-trophy></app-trophy>
            </div>
            <div class="flex flex-col gap-1">
                <h1 class="text-sm font-medium text-[#191C1F]">24 HOURS RETURN</h1>
                <p class="text-sm font-normal text-[#5F6C72]">100% money-back guarantee</p>
            </div>
        </div>

        <div>
            <app-verticalline></app-verticalline>
        </div>


        <div class="flex flex-1  gap-4 p-4 items-center ">
            <div>
                <app-creditcard></app-creditcard>
            </div>
            <div class="flex flex-col gap-1">
                <h1 class="text-sm font-medium text-[#191C1F]">SECURE PAYMENT</h1>
                <p class="text-sm font-normal text-[#5F6C72]">Your money is safe</p>
            </div>
        </div>

        <div>
            <app-verticalline></app-verticalline>
        </div>

        <div class="flex flex-1  gap-4 p-4 items-center ">
            <div>
                <app-headphone></app-headphone>
            </div>
            <div class="flex flex-col gap-1">
                <h1 class="text-sm font-medium text-[#191C1F]">SUPPORT 24/7</h1>
                <p class="text-sm font-normal text-[#5F6C72]">Live contact/message</p>
            </div>
        </div>
    </div>

</div>