<div class="bg-[#191C1F]">

    <div class="container mx-auto max-w-[1440px] px-2 md:px-0">

        <div class="grid grid-cols-2 grid-rows-3 gap-6 py-10   md:flex md:gap-10 md:py-18 ">


            <div class="flex flex-col gap-6 w-full max-w-[312px] ">

                <div class="flex gap-2 items-center ">
                    <app-logoicon></app-logoicon>
                    <h1 class="text-[32px] font-bold text-[#FFFFFF]">CLICKON</h1>
                </div>

                <div class="flex flex-col gap-3">
                    <div class="flex flex-col gap-1">
                        <p class="text-sm font-normal text-[#77878F]">Customer Supports:</p>
                        <p class="text-[18px] font-medium text-[#FFFFFF]">(629) 555-0129</p>
                    </div>

                    <div>
                        <p class="text-[16px] font-normal text-[#ADB7BC]">4517 Washington Ave. <br> Manchester, Kentucky
                            39495
                        </p>
                    </div>

                    <div>
                        <p class="text-[16px] font-medium text-[#FFFFFF]">info&#64;kinbo.com</p>
                    </div>
                </div>
            </div>




            <div class="flex flex-col gap-3  w-full max-w-[200px] ">
                <div>
                    <h1 class="text-[16px] font-medium text-[#FFFFFF]">TOP CATEGORY</h1>
                </div>

                <div class="flex flex-col">

                    <button class="py-1.5 text-sm font-medium text-[#929FA5] text-left ">Computer & Laptop</button>
                    <button class="py-1.5 text-sm font-medium text-[#929FA5] text-left">SmartPhone</button>
                    <button class="py-1.5 text-sm font-medium text-[#929FA5] text-left">Headphone</button>
                    <button class="flex gap-2 items-center py-1.5 text-sm font-medium text-[#FFFFFF] text-left">
                        <app-yellowline></app-yellowline>
                        Accessories
                    </button>
                    <button class="py-1.5 text-sm font-medium text-[#929FA5] text-left">Camera & Photo</button>
                    <button class=" py-1.5 text-sm font-medium text-[#929FA5] text-left"> TV & Homes</button>
                    <button class="flex gap-2 items-center py-1.5 text-sm font-medium text-[#EBC80C] text-left">Browse
                        All Product
                        <app-yellowright></app-yellowright>
                    </button>
                </div>
            </div>


            <div class="flex flex-col gap-3  w-full max-w-[200px] ">

                <div>
                    <h1 class="text-[16px] font-medium text-[#FFFFFF]">QUICK LINKS</h1>
                </div>

                <div class="flex flex-col">

                    <button class="py-1.5 text-sm font-medium text-[#929FA5] text-left ">Shop Product</button>
                    <button class="py-1.5 text-sm font-medium text-[#929FA5] text-left ">Shoping Cart</button>
                    <button class="py-1.5 text-sm font-medium text-[#929FA5] text-left ">Wishlist</button>
                    <button class="py-1.5 text-sm font-medium text-[#929FA5] text-left ">Compare </button>
                    <button class="py-1.5 text-sm font-medium text-[#929FA5] text-left ">Track Order</button>
                    <button class="py-1.5 text-sm font-medium text-[#929FA5] text-left ">Customer Help</button>
                    <button class="py-1.5 text-sm font-medium text-[#929FA5] text-left ">About Us</button>
                </div>
            </div>

            <div class="flex flex-col gap-[18px]  w-full max-w-[200px] ">

                <div>
                    <h1 class="text-[16px] font-medium text-[#FFFFFF]">DOWNLOAD APP</h1>
                </div>


                <div class="flex flex-col gap-3">
                    <div class="flex gap-4 py-4 px-5 bg-[#303639]">
                        <div>
                            <app-playstore> </app-playstore>
                        </div>

                        <div class="flex flex-col gap-1">
                            <p class="text-[11px] font-normal text-[#FFFFFF]">Get it now</p>
                            <h3 class="text-sm font-semibold text-[#FFFFFF]">Google Play</h3>
                        </div>
                    </div>

                    <div class="flex gap-4  py-4 px-5 bg-[#303639]">

                        <div>
                            <app-applcard></app-applcard>
                        </div>

                        <div class="flex flex-col gap-1">
                            <p class="text-[11px] font-normal text-[#FFFFFF]">Get it now</p>
                            <h3 class="text-sm font-semibold text-[#FFFFFF]">App Store</h3>
                        </div>
                    </div>
                </div>
            </div>


            <div class="flex flex-col gap-[18px]  ">

                <div>
                    <h1 class="text-[16px] font-medium text-[#FFFFFF]">POPULAR TAG</h1>
                </div>

                <div class="flex flex-col gap-2">

                    <div class="flex gap-2">
                        <button
                            class="px-3 py-1.5 text-sm text-[#FFFFFF] font-medium border rounded-[2px] border-[#303639]">
                            Game</button>
                        <button
                            class="px-3 py-1.5 text-sm text-[#FFFFFF] font-medium border rounded-[2px] border-[#303639]">iPhone</button>
                        <button
                            class="px-3 py-1.5 text-sm text-[#FFFFFF] font-medium border rounded-[2px] border-[#303639]">TV</button>
                        <button
                            class="px-3 py-1.5 text-sm text-[#FFFFFF] font-medium border rounded-[2px] border-[#303639]">Asus
                            Laptops</button>
                    </div>


                    <div class="flex gap-2">
                        <button
                            class="px-3 py-1.5 text-sm text-[#FFFFFF] font-medium border rounded-[2px] border-[#303639]">
                            Macbook </button>
                        <button
                            class="px-3 py-1.5 text-sm text-[#FFFFFF] font-medium border rounded-[2px] border-[#303639]">SSD</button>
                        <button
                            class="px-3 py-1.5 text-sm text-[#FFFFFF] font-medium border rounded-[2px] border-[#303639]">Graphics
                            Card </button>
                    </div>


                    <div class="flex gap-2">
                        <button
                            class="px-3 py-1.5 text-sm text-[#FFFFFF] font-medium border rounded-[2px] border-[#303639]">
                            Power Bank </button>
                        <button
                            class="px-3 py-1.5 text-sm text-[#FFFFFF] font-medium border rounded-[2px] border-[#303639]">
                            Smart TV</button>
                        <button
                            class="px-3 py-1.5 text-sm text-[#FFFFFF] font-medium border rounded-[2px] border-[#303639]">Speaker</button>
                    </div>


                    <div class="flex gap-2">
                        <button
                            class="px-3 py-1.5 text-sm text-[#FFFFFF] font-medium border rounded-[2px] border-[#303639]">
                            Tablet</button>
                        <button
                            class="px-3 py-1.5 text-sm text-[#FFFFFF] font-medium border rounded-[2px] border-[#303639]">Microwave</button>
                        <button
                            class="px-3 py-1.5 text-sm text-[#FFFFFF] font-medium border rounded-[2px] border-[#303639]">Samsung</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>