<div class="bg-[#1B6392]">

    <div class="container mx-auto max-w-[1440px] px-4 md:px-0 ">


        <div class="flex flex-col gap-8  py-18 ">

            <div class="flex flex-col gap-3 ">
                <h1 class="text-[32px] font-semibold text-[#FFFFFF] text-center">Subscribe to our newsletter</h1>
                <p class="text-[16px] font-normal    text-[#FFFFFF] text-center">Praesent fringilla erat a lacinia
                    egestas.
                    Donec vehicula
                    tempor libero et <br> cursus. Donec non quam urna.
                    Quisque vitae porta ipsum.</p>

            </div>

            <div
                class=" mx-auto p-3 md:gap-4  bg-white rounded shadow-lg flex flex-col md:flex md:flex-row overflow-hidden ">
                <input type="text" placeholder="Email address"
                    class="py-2 px-4 flex-grow text-[16px] text-[#77878F] font-normal">
                <button
                    class="flex gap-2 bg-[#FA8232] px-6 py-2 items-center text-sm text-[#FFFFFF] font-bold">SUBSCRIBE
                    <app-righticon></app-righticon>
                </button>
            </div>




            <div class="flex md:gap-12 gap-1 items-center justify-center border-t border-white/40">
                <app-googlelogo class="grayscale opacity-70"></app-googlelogo>
                <app-amazonlogo class="grayscale opacity-70"></app-amazonlogo>
                <app-philips class="grayscale opacity-70"></app-philips>
                <app-toshiba class="grayscale opacity-70"></app-toshiba>
                <app-samsung class="grayscale opacity-70"></app-samsung>

            </div>
        </div>

    </div>
</div>