<div class="container mx-auto max-w-[1440px]">

    <div class=" flex flex-col gap-2 md:flex-row md:gap-6  py-18">
        <div class="flex flex-col bg-[#F3DE6D] min-w-[312px] rounded">
            <div class="flex flex-col gap-4 py-8 px-4">
                <div class="flex flex-col gap-3">
                    <div class="flex flex-col gap-2">
                        <h1 class="text-sm font-semibold text-[#BE4646] text-center">COMPUTER AND ACCESSORIES</h1>
                        <h1 class="text-[32px] font-semibold text-[#191C1F] text-center">32% Discount</h1>
                    </div>

                    <div>
                        <p class="text-[16px] font-normal text-[#475156] text-center">For all electronics prouct</p>
                    </div>
                </div>
                <div class="flex gap-2 items-center justify-center">
                    <p class="text-sm font-medium text-[#191C1F]">Offer ends in:</p>
                    <p class="py-1.5 px-3 text-sm font-semibold text-[#191C1F] bg-[#FFFFFF]">ENDS OF CHRISTMAS</p>
                </div>
            </div>

            <button
                class="flex gap-3 px-8 py-2 items-center justify-center self-center bg-[#FA8232] text-[16px] font-bold text-[#FFFFFF] w-max ">
                SHOP NOW
                <app-righticon></app-righticon>
            </button>

            <img src="banner.svg" alt="">
        </div>

        <div class="flex flex-col gap-6">
            <div class=" flex flex-col md:flex-row md:justify-between md:items-center ">
                <div>
                    <h1 class="text-[24px] self-center font-semibold text-[#191C1F]">Featured Products</h1>
                </div>

                <div class=" flex flex-col md:flex-row md:gap-4 md:items-center">
                    <div>
                        <a href="" class="text-sm font-semibold text-[#191C1F] p-2 border-b border-[#FA8232]">All
                            Product</a>
                        <a href="" class="text-sm font-normal text-[#5F6C72] p-2 ">Smart Phone</a>
                        <a href="" class="text-sm font-normal text-[#5F6C72] p-2 ">Laptop</a>
                        <a href="" class="text-sm font-normal text-[#5F6C72] p-2">Headphone</a>
                        <a href="" class="text-sm font-normal text-[#5F6C72] p-2 ">TV</a>
                    </div>

                    <button class="flex gap-2 items-center py-1.5 text-sm font-semibold text-[#FA8232]">
                        Browse All Prouct
                        <app-right></app-right>
                    </button>
                </div>
            </div>
            <div class=" grid grid-cols-2 grid-rows-4 p-4 md:p-0 md:grid md:grid-cols-4 md:grid-rows-2  md:gap-4">

                @for (item of products; track $index) {
                <div class="p-4 flex flex-col gap-2 border rounded border-[#E4E7E9]  " [routerLink]="['/product',item.id]">
                    <img src="{{item.image}}" alt="">
                    <div class="flex flex-col gap-2">
                        <div class="flex gap-1 items-center">

                            <div class="flex gap-0 items-center">
                                <app-starfill></app-starfill>
                                <app-starfill></app-starfill>
                                <app-starfill></app-starfill>
                                <app-starfill></app-starfill>
                                <app-starfill></app-starfill>
                            </div>

                            <p class="text-[12px] font-normal text-[#77878F]">({{item.reviews}})</p>

                        </div>
                        <p class="text-sm font-normal text-[#191C1F]">{{item.title}}
                        </p>
                        <p class="text-sm font-semibold text-[#2DA5F3]">{{item.price}}</p>
                    </div>

                </div>
                }

            </div>
        </div>
    </div>

</div>