<div class="container mx-auto max-w-[1440px]">

    <div class="flex flex-col  gap-0 border  border-[#E4E7E9]  my-15">

        <div class="grid md:grid-cols-4 grid-cols-1">

            <div class="border border-[#E4E7E9]">
                <img src="" alt="">
            </div>

            <div class="flex flex-col gap-4 p-8 border border-[#E4E7E9] ">
                <app-closed class="self-center"></app-closed>
                <img src="img31.svg" alt="">
                <p>Gamdias ARES M2 Gaming Keyboard, Mouse and Mouse Mat Combo</p>
                <div class="flex gap-2 items-center">
                    <button class="flex gap-2 bg-[#FA8232] px-6 py-3.5 text-sm font-bold text-[#FFFFFF]">
                        ADD TO CARD
                        <app-basket></app-basket>
                    </button>
                    <app-likeicon class="p-3 border"></app-likeicon>
                </div>
            </div>


            <div class="flex flex-col gap-4 p-8 border border-[#E4E7E9] ">
                <app-closed class="self-center"></app-closed>
                <img src="img32.svg" alt="">
                <p>Gamdias ARES M2 Gaming Keyboard, Mouse and Mouse Mat Combo</p>
                <div class="flex gap-2 ">
                    <button class="flex gap-2 bg-[#FA8232] px-6 py-3.5 text-sm font-bold text-[#FFFFFF]">
                        ADD TO CARD
                        <app-basket></app-basket>
                    </button>
                    <app-likeicon class="p-3 border"></app-likeicon>
                </div>
            </div>


            <div class="flex flex-col gap-4 p-8 border border-[#E4E7E9] ">
                <app-closed class="self-center"></app-closed>
                <img src="img33.svg" alt="">
                <p>Gamdias ARES M2 Gaming Keyboard, Mouse and Mouse Mat Combo</p>
                <div class="flex gap-2 ">
                    <button class="flex gap-2 bg-[#FA8232] px-6 py-3.5 text-sm font-bold text-[#FFFFFF]">
                        ADD TO CARD
                        <app-basket></app-basket>
                    </button>
                    <app-likeicon class="p-3 border"></app-likeicon>
                </div>
            </div>
        </div>

        <div class="grid md:grid-cols-4 grid-cols-1s bg-[#F2F4F5]">
            <div class="border py-3 px-8 border-[#E4E7E9]">Customer Feedback</div>
            <div class="border flex gap-[6px] items-center py-3 px-8 border-[#E4E7E9]">
                <div class="flex ">
                    <app-starfill></app-starfill>
                    <app-starfill></app-starfill>
                    <app-starfill></app-starfill>
                    <app-starfill></app-starfill>
                    <app-starfill></app-starfill>
                </div>

                <p>(51,746.214)</p>


            </div>

            <div class="border flex gap-[6px] items-center py-3 px-8 border-[#E4E7E9]">
                <div class="flex ">
                    <app-starfill></app-starfill>
                    <app-starfill></app-starfill>
                    <app-starfill></app-starfill>
                    <app-starfill></app-starfill>
                    <app-starfill></app-starfill>
                </div>

                <p>(51,746.214)</p>


            </div>

            <div class="border flex gap-[6px] items-center py-3 px-8 border-[#E4E7E9]">
                <div class="flex ">
                    <app-starfill></app-starfill>
                    <app-starfill></app-starfill>
                    <app-starfill></app-starfill>
                    <app-starfill></app-starfill>
                    <app-starfill></app-starfill>
                </div>

                <p>(51,746.214)</p>


            </div>
        </div>

        <div class="grid grid-cols-4">
            <div class="border py-3 px-8 border-[#E4E7E9]">
                <p>Price:</p>
            </div>

            <div class="border py-3 px-8 border-[#E4E7E9]">
                <p>$899</p>
            </div>

            <div class="border py-3 px-8 border-[#E4E7E9]">
                <p>$899</p>
            </div>

            <div class="border py-3 px-8 border-[#E4E7E9]">
                <p>$899</p>
            </div>
        </div>

        <div class="grid grid-cols-4 bg-[#F2F4F5]">
            <div class="border py-3 px-8 border-[#E4E7E9]">
                <p>sold by:</p>
            </div>

            <div class="border py-3 px-8 border-[#E4E7E9]">
                <p>Clicon</p>
            </div>

            <div class="border py-3 px-8 border-[#E4E7E9]">
                <p>Apple</p>
            </div>

            <div class="border py-3 px-8 border-[#E4E7E9]">
                <p>Clicon</p>
            </div>
        </div>



        <div class="grid grid-cols-4">
            <div class="border py-3 px-8 border-[#E4E7E9]">
                <p>Brand:</p>
            </div>

            <div class="border py-3 px-8 border-[#E4E7E9]">
                <p>StarTech</p>
            </div>

            <div class="border py-3 px-8 border-[#E4E7E9]">
                <p>Apple</p>
            </div>

            <div class="border py-3 px-8 border-[#E4E7E9]">
                <p>Samsung</p>
            </div>
        </div>




        <div class="grid grid-cols-4 bg-[#F2F4F5]">
            <div class="border py-3 px-8 border-[#E4E7E9]">
                <p>Model:</p>
            </div>

            <div class="border py-3 px-8 border-[#E4E7E9]">
                <p>ARES M2 and ZEUS E2</p>
            </div>

            <div class="border py-3 px-8 border-[#E4E7E9]">
                <p>Apple iMac 24" M1 Blue 2021</p>
            </div>

            <div class="border py-3 px-8 border-[#E4E7E9]">
                <p>S21 FE</p>
            </div>
        </div>




        <div class="grid grid-cols-4">
            <div class="border py-3 px-8 border-[#E4E7E9]">
                <p>Stock Status:</p>
            </div>

            <div class="border py-3 px-8 border-[#E4E7E9]">
                <p>IN STOCK</p>
            </div>

            <div class="border py-3 px-8 border-[#E4E7E9]">
                <p>IN STOCK</p>
            </div>

            <div class="border py-3 px-8 border-[#E4E7E9]">
                <p>OUT OF STOCK</p>
            </div>
        </div>




        <div class="grid grid-cols-4 bg-[#F2F4F5]">
            <div class="border py-3 px-8 border-[#E4E7E9]">
                <p>Size:</p>
            </div>

            <div class="border py-3 px-8 border-[#E4E7E9]">
                <p>6.71 inches, 110.5 cm</p>
            </div>

            <div class="border py-3 px-8 border-[#E4E7E9]">
                <p>6.7 inches, 109.8 cm</p>
            </div>

            <div class="border py-3 px-8 border-[#E4E7E9]">
                <p>6.4 inches, 98.9 cm</p>
            </div>
        </div>




        <div class="grid grid-cols-4">
            <div class="border py-3 px-8 border-[#E4E7E9]  ">
                <p>Weight:</p>
            </div>

            <div class="border py-3 px-8 border-[#E4E7E9]">
                <p>650 g (7.41 oz)</p>
            </div>

            <div class="border py-3 px-8 border-[#E4E7E9]">
                <p>240 g (8.47 oz)</p>
            </div>

            <div class="border py-3 px-8 border-[#E4E7E9]">
                <p>177 g (6.24 oz)</p>
            </div>
        </div>




    </div>
</div>