<div class="container mx-auto max-w-[1440px]">
    <div class="flex flex-col  my-15 border border-[#E4E7E9]">
        <div class="w-full py-5 px-6">
            <p class="">Wishlist</p>
        </div>

        <div class="flex gap-6 px-10 py-2.5 w-full border border-[#E4E7E9]">
            <p class="w-[43.86%]">PRODUCTS</p>
            <p class="w-[15.15%]">PRICE</p>
            <p class="w-[15.15%]">STOCK STATUS</p>
            <p class="w-[16.74%]">ACTIONS</p>
        </div>

        <div class="flex flex-col gap-4 p-4 w-full">
            <div class="flex gap-6 items-center">
                <div class="flex gap-4 items-center pr-18 w-[43.86%]">
                    <img src="drone.svg" alt="" class="max-w-[72px] max-h-[72px]">
                    <p class="text-sm font-normal text-[#475156]">Bose Sport Earbuds - Wireless Earphones - Bluetooth In
                        Ear
                        <br> Headphones for Workouts and Running,
                        Triple Black
                    </p>
                </div>

                <div class="w-[15.15%]">
                    <p>$999</p>
                </div>

                <div class="w-[15.15%]">
                    <p>IN STOCK</p>
                </div>

                <div class="flex gap-6  items-center w-[16.74%]">
                    <button class="flex gap-2 bg-[#FA8232] px-4  py-2 items-center">
                        ADD TO CARD
                        <app-basket></app-basket>
                    </button>
                    <app-closed></app-closed>
                </div>
            </div>
  
            <div class="flex gap-6 items-center">

                <div class="flex gap-4 items-center pr-18 w-[43.86%]">
                    <img src="drone.svg" alt="" class="max-w-[72px] max-h-[72px]">
                    <p class="text-sm font-normal text-[#475156]">Simple Mobile 5G LTE Galexy 12 Mini 512GB Gaming Phone
                    </p>
                </div>

                <div class="w-[15.15%]">
                    <p>$999</p>
                </div>

                <div class="w-[15.15%]">
                    <p>IN STOCK</p>
                </div>

                <div class="flex gap-6 items-center w-[16.74%]">
                    <button class="flex gap-2 items-center bg-[#FA8232] px-4  py-2">
                        ADD TO CARD
                        <app-basket></app-basket>
                    </button>
                    <app-closed></app-closed>
                </div>
            </div>



            <div class="flex gap-6 items-center">

                <div class="flex gap-4 items-center pr-18 w-[43.86%]">
                    <img src="drone.svg" alt="" class="max-w-[72px] max-h-[72px]">
                    <p class="text-sm font-normal text-[#475156]">Portable Wshing Machine, 11lbs capacity Model 18NMFIAM
                    </p>
                </div>

                <div class="w-[15.15%]">
                    <p>$999</p>
                </div>

                <div class="w-[15.15%]">
                    <p>IN STOCK</p>
                </div>

                <div class="flex gap-6 items-center w-[16.74%]">
                    <button class="flex gap-2 bg-[#FA8232] px-4  py-2 items-center">
                        ADD TO CARD
                        <app-basket></app-basket>
                    </button>
                    <app-closed></app-closed>
                </div>
            </div>



            <div class="flex gap-6 items-center">

                <div class="flex gap-4 items-center pr-18 w-[43.86%]">
                    <img src="drone.svg" alt="" class="max-w-[72px] max-h-[72px]">
                    <p class="text-sm font-normal text-[#475156]">Wyze Cam Pan v2 1080p Pan/Tilt/Zoom Wi-Fi Indoor Smart
                        Home Camera with Color Night Vision, 2-Way
                        Audio</p>
                </div>

                <div class="w-[15.15%]">
                    <p>$999</p>
                </div>

                <div class="w-[15.15%]">
                    <p>IN STOCK</p>
                </div>

                <div class="flex gap-6 items-center w-[16.74%]">
                    <button class="flex gap-2 bg-[#FA8232] px-4  py-2 items-center">
                        ADD TO CARD
                        <app-basket></app-basket>
                    </button>
                    <app-closed></app-closed>
                </div>
            </div>
        </div>
    </div>
</div>