<div class="bg-[#1B6392]">

    <div class="container mx-auto max-w-[1440px] px-2 md:px-0">

        <div class="md:flex-row md:justify-between md:items-center md:py-5  flex flex-col gap-2 py-4 relative">
            <div class="flex gap-2 items-center">
                <app-clicon (click)="logoClick()"></app-clicon>
                <h1 class="text-[32px] text-[#FFFFFF] font-bold">CLICON</h1>
            </div>

            <button (click)="toggleMenu()" class="md:hidden absolute right-5 top-5">
                <app-hamburger></app-hamburger>
            </button>

            <div *ngIf="menuOpen" class="md:hidden flex gap-6 items-center  px-4 py-4 ">
                <app-cart (click)="onCartClicked()"></app-cart>

                @if(user()) {
                <app-wishlist (click)="onWishListClick()"></app-wishlist>
                }
                @else {
                <app-user (click)="onUserClicked()"></app-user>

                }


            </div>

            <div class="flex justify-between items-center px-5 py-[14px] bg-white border-none md:w-[50%]">
                <input type="text" placeholder="Search for anything"
                    class="border-none text-sm text-[#77878F] font-normal w-[90%]">
                <app-serach class="w-[10%]"></app-serach>

            </div>


            <div class=" md:flex md:flex-row md:gap-6 items-center  gap-6 hidden md:block ">

                @if(user()) {
                <app-wishlist (click)="onWishListClick()"></app-wishlist>
                <div class="relative">
                    <app-cart (click)="onCartClicked()"></app-cart>
                    <p class="absolute -top-2 -right-2 rounded-full bg-white text-sm font-bold text-red px-2">
                        {{product}}</p>
                </div>

                }
                @else {
                <app-user (click)="onUserClicked()"></app-user>

                }

            </div>
        </div>
    </div>
</div>