<div class="container mx-auto max-w-[1440px] px-4 md:px-0">

    <div class="flex flex-col gap-8  pt-12 pb-31">

        <div class="flex flex-col gap-6">
            <div class="flex flex-col gap-4  ">
                <h1 class="text-[32px] font-semibold text-[#191C1F]">Track Order</h1>
                <p class=" text-[#5F6C72] text-[16px] font-normal">To track your order please enter your order ID in
                    the
                    input field below and press the “Track Order” <br> button. this was given to you on your receipt and
                    in
                    the
                    confirmation email you should have received.
                </p>
            </div>

            <div class="md:flex-row md:gap-6 max-w-[872px] flex flex-col gap-4 ">
                <div class="flex flex-col gap-4 flex-1 ">
                    <div class="flex flex-col gap-2 flex-1">
                        <label for="" class="font-sm font-normal text-[#191C1F]">Order ID</label>
                        <input type="text" placeholder="ID..."
                            class="text-sm font-normal text-[#77878F] px-4 py-3 input-control">
                    </div>

                    <div class="flex gap-2 flex-1 items-center">
                        <app-needicon></app-needicon>
                        <p class="text-sm font-normal text-[#5F6C72]">Order ID that we sended to your in your email
                            address.
                        </p>
                    </div>
                </div>

                <div class="flex flex-col gap-2 flex-1">
                    <label for="" class="font-sm font-normal text-[#191C1F]">Billing Email</label>
                    <input type="text" placeholder="Email address"
                        class="text-sm font-normal text-[#77878F] px-4 py-3 input-control">
                </div>
            </div>

        </div>
        <div class="text-center">
            <button class="flex gap-2 bg-[#FA8232] text-white font-bold text-sm px-6 py-3 rounded" (click)="onClick()">
                TRACK ORDER
                <app-righticon></app-righticon>
            </button>
        </div>


    </div>
</div>