<div class="container mx-auto max-w-[1440px]  px-2 md:px-0 py-2 md:py-0">

    <div class="flex flex-col gap-8  py-31 ">
        <div class="flex flex-col gap-6 align-center justify-center">
            <div class="self-center">
                <img src="CheckCircle.svg" alt="" class="w-[88px] h-[88px] ">


            </div>

            <div class="flex flex-col gap-3 items-center justify-center">
                <h1 class="text-[24px] font-semibold text-[#191C1F]">Your Order is Successfuly Place</h1>

                <p class="text-sm text-[#5F6C72] font-normal">Pellentesque sed lectus nec tortor tristique accumsan quis
                    <br> dictum risus. Donec volutpat mollis nulla
                    non facilisis.
                </p>
            </div>

        </div>
        <div class="flex gap-3 align-center justify-center">
            <button
                class=" flex gap-2  items-center text-sm text-[#FA8232] font-medium border border-[#FFE7D6] rounded px-6 py-2">
                <app-stack></app-stack> GO TO
                DASHBOARD</button>
            <button class="flex gap-2 items-center px-6 py-1 bg-[#FA8232] text-sm text-[#FFFFFF] font-bold rounded">VIEW
                ORDER
                <app-righticon></app-righticon>

            </button>
        </div>
    </div>
</div>