<div class="px-2 md:px-0 py-10 md:py-20 mx-auto container max-w-[424px]">
    <div class="flex flex-col gap-6 p-8 shadow-[0px_8px_40px_0px_#000000] border rounded border-[#E4E7E9]">

        <div class="flex flex-col gap-3 items-center w-full">
            <h1 class="text-[20px] font-semibold text-[#191C1F]">Reset Password</h1>
            <p class="text-center text-[#5F6C72] text-sm font-medium">Duis sagittis molestie tellus, at eleifend sapien
                pellque <br>quis. Fusce lorem nunc, fringilla sit amet nunc.
            </p>
        </div>

        <div class="flex flex-col gap-4 px-8">

            <div class="flex flex-col gap-2">
                <div class="flex justify-between">
                    <label for="" class="text-sm text-[#191C1F] font-normal">Password</label>

                </div>
                <div class=" relative flex justify-between border border-[#EAE7EF] items-center  ">
                    <input type="text" class="w-[90%] py-2 pl-2" placeholder="8+ Characters">
                    <app-eye class="w-[10%] absolute right-1"></app-eye>
                </div>
            </div>


            <div class="flex flex-col  ">
                <div class="flex justify-between ">
                    <label for="" class="text-sm text-[#191C1F] font-normal"> Confirm Password</label>

                </div>
                <div class=" flex justify-between border border-[#EAE7EF] items-center  ">
                    <input type="text" class="w-[90%] py-2 pl-2">
                    <app-eye class="w-[10%]"></app-eye>
                </div>
            </div>

        </div>
        <div class="bg-[#FA8232] px-6 py-4 mx-8 flex items-center justify-center ">
            <button class="flex items-center gap-2 text-sm font-bold text-white">
                RESET PASSWORD
                <span><app-righticon></app-righticon></span>
            </button>
        </div>

    </div>
</div>