<aside
  class="relative w-66 border border-[#E4E7E9] bg-[#FFFFFF] text-white py-4 shadow-[0_8px_40px_0_rgba(0,0,0,0.08)]  rounded-lg hidden md:block">


  <nav class="space-y-1.5">
    <a class="flex items-center gap-3 px-4 py-2 rounded text-[#5F6C72] w-full" [routerLink]="'/dashboard'"
      routerLinkActive="!bg-orange-500" [routerLinkActiveOptions]="{ exact: true }">

      <app-sidebarhome></app-sidebarhome>

      Dashboard
    </a>

    <a class="flex items-center gap-3 px-4 py-2 rounded text-[#5F6C72] w-full" [routerLink]="'/dashboard/history'"
      routerLinkActive="bg-orange-500">
      <app-sidebarorder></app-sidebarorder>
      Order History
    </a>

    <a class="flex items-center gap-3 px-4 py-2 rounded text-[#5F6C72] w-full" [routerLink]="'/dashboard/trackorder'"
      routerLinkActive="bg-orange-500">

      <app-sidebartrack></app-sidebartrack>
      Track Order
    </a>


    <a href="#" class="flex items-center gap-3 px-4 py-2 rounded text-[#5F6C72] w-full">

      <app-sidebarcart></app-sidebarcart>
      Shopping Cart
    </a>


    <a href="#" class="flex items-center gap-3 px-4 py-2 rounded text-[#5F6C72] w-full">
      <app-sidebarwishlist></app-sidebarwishlist>

      Wishlist
    </a>


    <a href="#" class="flex items-center gap-3 px-4 py-2 rounded text-[#5F6C72] w-full">


      <app-sidebarcompare></app-sidebarcompare>
      Compare
    </a>


    <a class="flex items-center gap-3 px-4 py-2 rounded text-[#5F6C72] w-full" [routerLink]="'/dashboard/card'"
      routerLinkActive="bg-orange-500">

      <app-sidebarcard></app-sidebarcard>
      Cards &amp; Address
    </a>


    <a href="#" class="flex items-center gap-3 px-4 py-2 rounded text-[#5F6C72] w-full">

      <app-sidebarhistory></app-sidebarhistory>
      Browsing History
    </a>


    <a class="flex items-center gap-3 px-4 py-2 rounded text-[#5F6C72] w-full" [routerLink]="'/dashboard/setting'"
      routerLinkActive="bg-orange-500">


      <app-sidebarsetting></app-sidebarsetting>
      Setting
    </a>


    <a class="flex items-center gap-3 px-4 py-2 rounded text-[#5F6C72] w-full" (click)="onLogout()">

      <app-sidebarlogout></app-sidebarlogout>

      Log-out
    </a>
  </nav>


</aside>