<div class="border-b border-[#E4E7E9]">

    <div class="container mx-auto max-w-[1440px] px-4 md:px-0 py-4 md:py-0">

        <div class="py-18 flex flex-col gap-10 ">
            <div class="w-full">
                <p class="text-center font-sans text-[32px] font-semibold ">
                    What can we assist you with today?
                </p>
            </div>
            <div class="grid md:grid-cols-4 md:grid-rows-2 grid-cols-2 gap-6">
                <div class="border border-[#FFE7D6] rounded p-6 ">
                    <button class="flex flex-row gap-4 items-center">
                        <app-truck></app-truck>
                        <p class="text-[16px] text-[#191C1F] font-medium">Track Order</p>

                    </button>
                </div>
                <div class="border border-[#FFE7D6] rounded p-6 ">
                    <button class="flex flex-row gap-4 items-center">
                        <app-lock></app-lock>
                        <p class="text-[16px] text-[#191C1F] font-medium">Reset Password</p>



                    </button>
                </div>
                <div class="border border-[#FFE7D6] rounded p-6 ">
                    <button class="flex flex-row gap-4 items-center">

                        <app-crediticon></app-crediticon>
                        <p class="text-[16px] text-[#191C1F] font-medium">Payment Option</p>



                    </button>
                </div>
                <div class="border border-[#FFE7D6] rounded p-6 ">
                    <button class="flex flex-row gap-4 items-center">
                        <app-userprofileicon></app-userprofileicon>
                        <p class="text-[16px] text-[#191C1F] font-medium">User & Account</p>



                    </button>
                </div>
                <div class="border border-[#FFE7D6] rounded p-6 ">
                    <button class="flex flex-row gap-4 items-center">

                        <app-stack></app-stack>
                        <p class="text-[16px] text-[#191C1F] font-medium">Wishlist & Compare</p>





                    </button>
                </div>
                <div class="border border-[#FFE7D6] rounded p-6 ">
                    <button class="flex flex-row gap-4 items-center">

                        <app-notepad></app-notepad>
                        <p class="text-[16px] text-[#191C1F] font-medium">Shipping & Billing</p>



                    </button>
                </div>
                <div class="border border-[#FFE7D6] rounded p-6 ">
                    <button class="flex flex-row gap-4 items-center">

                        <app-crediticon></app-crediticon>
                        <p class="text-[16px] text-[#191C1F] font-medium">Shoping Cart & Wallet</p>


                    </button>
                </div>
                <div class="border border-[#FFE7D6] rounded p-6 ">
                    <button class="flex flex-row gap-4 items-center">

                        <app-store></app-store>
                        <p class="text-[16px] text-[#191C1F] font-medium">Sell on Clicon</p>

                    </button>
                </div>
            </div>
        </div>
    </div>
</div>