<div class="px-2 md:px-0 py-10 md:py-20 mx-auto container max-w-[424px]">

    <div class="flex flex-col gap-6 p-8 shadow-[0px_8px_40px_0px_#000000] border rounded border-[#E4E7E9]">
        <div class="flex flex-col gap-3 items-center w-full">
            <h1 class="text-[20px] font-semibold text-[#191C1F]">Forget Password</h1>
            <p class="text-center text-[#5F6C72] text-sm font-medium">Enter the email address or mobile phone number
                <br> associated
                with your Clicon account.
            </p>
        </div>
        <form action="" (ngSubmit)="onForgot()" [formGroup]="resetForm" class="flex flex-col gap-4">
            <div class="flex flex-col gap-2">
                <label for="email" class="text-sm font-normal text-[#191C1F]">Email Address</label>
                <input type="email" class="py-2 input-control" formControlName="email">
            </div>

            @if(email?.invalid && email?.touched) {
            <div class="text-sm text-red-400">
                {{email?.errors | error:'email'}}
            </div>
            }



            <div class="bg-[#FA8232] px-6 py-4  flex items-center justify-center ">
                <button class="flex items-center gap-2 text-sm font-bold text-white" (click)="onClick()" type="submit">
                    SEND CODE
                    <span><app-righticon></app-righticon></span>
                </button>
            </div>


        </form>

        <div class="flex flex-col gap-2">
            <div class="flex gap-1.5">
                <p class="text-sm font-normal text-[#5F6C72]">Already have account?</p>
                <a href="" class="text-sm font-medium text-[#2DA5F3]" [routerLink]="'/login'">Sign In</a>
            </div>

            <div class="flex gap-1.5">
                <p class="text-sm font-normal text-[#5F6C72]">Don’t have account?</p>
                <a href="" class="text-sm font-medium text-[#2DA5F3]" [routerLink]="'/signup'">Sign Up</a>
            </div>

        </div>

        <div>
            <hr class="text-[#E4E7E9]">
        </div>


        <div>
            <p class="text-[16px] font-normal text-[#5F6C72]">You may contact <a href=""
                    class="text-[16px] font-medium text-[#FA8232]">Customer Service</a> for help restoring access to
                your
                account.</p>
        </div>



    </div>

</div>