<div class="bg-[#1B6392] border-b border-gray-50">

  <div class="container mx-auto max-w-[1440px] px-2 md:px-0">

    <div class=" md:flex-row md:justify-between md:py-3  md:items-center flex flex-col gap-2">
      <div>
        <p class="text-sm text-[#FFFFFF] font-normal">Welcome to clicon online ecommerce store</p>
      </div>


      <div class="flex gap-6 items-center ">
        <div class="flex gap-3 items-center">
          <div>
            <p class="text-sm text-[#FFFFFF] font-normal">Follow us:</p>
          </div>

          <div class="flex gap-3">
            <app-twitter></app-twitter>
            <app-facebook></app-facebook>
            <app-pinterest></app-pinterest>
            <app-reddit></app-reddit>
            <app-youtube></app-youtube>
            <app-instagram></app-instagram>
          </div>


        </div>

        <div>
          <app-line></app-line>
        </div>

        <div>
          <select name="" id="" class="text-sm text-[#FFFFFF] font-normal">
            <option value="">Eng</option>
          </select>
        </div>

        <div>
          <select name="" id="" class="text-sm text-[#FFFFFF] font-normal">
            <option value="">USD</option>
          </select>
        </div>

      </div>
    </div>
  </div>
</div>