<div class="container mx-auto max-w-[1440px] px-4 md:px-0 py-2 md:py-0">
    <div class="flex flex-col gap-10 pb-10 border border-[#E4E7E9] rounded md:w-full w-screen">


        <div
            class="md:flex md:flex-row md:gap-0 md:items-center md:justify-center border-b border-[#E4E7E9] hidden md:block">
            <div class="py-[18px] px-5">
                <a href="" class="text-sm text-[#191C1F] font-medium">DESCRIPTION</a>
            </div>

            <div class="py-[10px] px-5">
                <a href="" class="text-sm text-[#5F6C72] font-medium">ADDITIONAL INFORMATION</a>
            </div>

            <div class="py-[10px] px-5">
                <a href="" class="text-sm text-[#5F6C72] font-medium">SPECIFICATION</a>
            </div>

            <div class="py-[10px] px-5">
                <a href="" class="text-sm text-[#5F6C72] font-medium">REVIEW</a>
            </div>

        </div>


        <div class="flex md:flex-row flex-col gap-4 px-2 md:px-0 md:gap-6 items-start justify-center ">
            <div class="flex flex-col gap-3 max-w-[616px]">
                <h1 class="text-[16px] text-[#191C1F] font-semibold w-full">Descripion</h1>
                <p class="text-sm font-normal text-[#5F6C72]"> The most powerful MacBook Pro ever is here. With the
                    blazing-fast M1 Pro or M1 Max <br> chip — the
                    first
                    Apple silicon designed for pros — you get groundbreaking performance <br> and amazing battery life.
                    Add
                    to that a stunning Liquid Retina XDR display, the best <br> camera and audio ever in a Mac notebook,
                    and
                    all the ports you need. The first notebook <br> of its kind, this MacBook Pro is a beast. M1 Pro
                    takes
                    the exceptional performance of the <br> M1 architecture to a whole new level for pro users.</p>

                <p class="text-sm font-normal text-[#5F6C72]">Even the most ambitious projects are easily handled with
                    up to 10 CPU cores, up to 16 <br> GPU cores,
                    a
                    16‑core Neural Engine, and dedicated encode and decode media engines <br> that support H.264, HEVC,
                    and
                    ProRes codecs.</p>
            </div>


            <div class="flex flex-col gap-4 max-w-[280px]">
                <h1 class="text-[16px] text-[#191C1F] font-semibold w-full">Features</h1>
                <div class="flex flex-col gap-3">
                    <div class="flex gap-2  items-center">
                        <app-medal></app-medal>
                        <p class="text-sm text-[#191C1F] font-normal">Free 1 Year Warranty</p>
                    </div>

                    <div class="flex gap-2  items-center">
                        <app-truck></app-truck>
                        <p class="text-sm text-[#191C1F] font-normal">Free Shipping & Fasted Delivery</p>
                    </div>

                    <div class="flex gap-2  items-center">
                        <app-hand></app-hand>
                        <p class="text-sm text-[#191C1F] font-normal">100% Money-back guarantee</p>
                    </div>

                    <div class="flex gap-2  items-center">
                        <app-headphone></app-headphone>
                        <p class="text-sm text-[#191C1F] font-normal">24/7 Customer support</p>
                    </div>

                    <div class="flex gap-2  items-center">
                        <app-debit></app-debit>
                        <p class="text-sm text-[#191C1F] font-normal">Secure payment method</p>
                    </div>
                </div>
            </div>

            <div class="w-px h-[227.97px] bg-gray-300 hidden md:block"></div>


            <div class="flex flex-col gap-5 max-w-[272px] ">
                <h1 class="text-[16px] text-[#191C1F] font-semibold w-full">Shipping Information</h1>

                <div class="flex flex-col gap-3">
                    <p class="text-sm text-[#191C1F] font-semibold">Courier: <span
                            class="text-sm font-normal text-[#5F6C72]"> 2 - 4 days, free shipping</span></p>
                    <p class="text-sm text-[#191C1F] font-semibold">Local Shipping: <span
                            class="text-sm font-normal text-[#5F6C72]"> up to one week, $19.00
                        </span></p>
                    <p class="text-sm text-[#191C1F] font-semibold">UPS Ground Shipping: <span
                            class="text-sm font-normal text-[#5F6C72]"> 4 - 6 days, $29.00
                        </span></p>
                    <p class="text-sm text-[#191C1F] font-semibold">Unishop Global Export: <span
                            class="text-sm font-normal text-[#5F6C72]"> 3 - 4 days, $39.00</span></p>
                </div>
            </div>
        </div>







    </div>

</div>