<div class=" bg-[#F2F4F5]">

    <div class="container mx-auto max-w-[1440px] px-2 md:px-0">


        <div class="flex flex-col gap-10  py-18 ">
            <div>
                <h1 class="text-[32px] font-semibold text-[#191C1F] text-center">Latest News</h1>
            </div>

            <div class="flex-col md:flex md:flex-row md:gap-6">
                <div class="flex flex-col gap-6 p-8 flex-1 shadow-lg border border-[#E4E7E9]">
                    <div><img src="Waatch.png" alt=""></div>
                    <div class="flex flex-col gap-3">
                        <div class="flex flex-col gap-2">
                            <div class="flex gap-4">
                                <div class="flex gap-1.5">
                                    <app-celender></app-celender>
                                    <p class="text-sm font-normal text-[#475156]">Kristin</p>
                                </div>
                                <div class="flex gap-1.5">
                                    <app-chat></app-chat>
                                    <p class="text-sm font-normal text-[#475156]">19Dec,2013</p>
                                </div>

                                <div class="flex gap-1.5">
                                    <app-usercircle></app-usercircle>
                                    <p class="text-sm font-normal text-[#475156]">453</p>
                                </div>

                            </div>
                            <div>
                                <p class="text-[18px] font-medium text-[#191C1F]">Cras nisl dolor, accumsan et metus sit
                                    <br>
                                    amet, vulputate condimentum dolor.
                                </p>
                            </div>
                        </div>

                        <div>
                            <p class="text-[16px] font-normal text-[#77878F]">Maecenas scelerisque, arcu quis tempus
                                <br>
                                egestas, ligula diam molestie lectus, tincidunt <br>
                                malesuada
                                arcu metus posuere metus.
                            </p>
                        </div>

                    </div>


                    <div class="border-[2px] rounded border-[#FFE7D6] w-max">
                        <button class="flex gap-2 px-6 py-2 text-sm font-bold text-[#FA8232]">READ MORE
                            <app-latestright></app-latestright>
                        </button>
                    </div>




                </div>


                <div class="flex flex-col gap-6 p-8 flex-1 shadow-lg border border-[#E4E7E9]">
                    <div><img src="Chip.png" alt=""></div>
                    <div class="flex flex-col gap-3">
                        <div class="flex flex-col gap-2">
                            <div class="flex gap-4">
                                <div class="flex gap-1.5">
                                    <app-celender></app-celender>
                                    <p class="text-sm font-normal text-[#475156]">Robert</p>
                                </div>
                                <div class="flex gap-1.5">
                                    <app-chat></app-chat>
                                    <p class="text-sm font-normal text-[#475156]">28Nov,2015</p>
                                </div>

                                <div class="flex gap-1.5">
                                    <app-usercircle></app-usercircle>
                                    <p class="text-sm font-normal text-[#475156]">738</p>
                                </div>

                            </div>
                            <div>
                                <p class="text-[18px] font-medium text-[#191C1F]">Curabitur pulvinar aliquam lectus, non
                                    <br>
                                    blandit erat mattis vitae.
                                </p>
                            </div>
                        </div>

                        <div>
                            <p class="text-[16px] font-normal text-[#77878F]">Mauris scelerisque odio id rutrum
                                volutpat.
                                <br>
                                Pellentesque urna odio, vulputate at tortor
                                vitae, <br>
                                hendrerit blandit lorem. .
                            </p>
                        </div>

                    </div>


                    <div class="border-[2px] rounded border-[#FFE7D6] w-max">
                        <button class="flex gap-2 px-6 py-2 text-sm font-bold text-[#FA8232]">READ MORE
                            <app-latestright></app-latestright>
                        </button>
                    </div>




                </div>


                <div class="flex flex-col gap-6 p-8 flex-1 shadow-lg border border-[#E4E7E9]">
                    <div><img src="mobile.png" alt=""></div>
                    <div class="flex flex-col gap-3">
                        <div class="flex flex-col gap-2">
                            <div class="flex gap-4">
                                <div class="flex gap-1.5">
                                    <app-celender></app-celender>
                                    <p class="text-sm font-normal text-[#475156]">Arlene</p>
                                </div>
                                <div class="flex gap-1.5">
                                    <app-chat></app-chat>
                                    <p class="text-sm font-normal text-[#475156]">9May,2014</p>
                                </div>

                                <div class="flex gap-1.5">
                                    <app-usercircle></app-usercircle>
                                    <p class="text-sm font-normal text-[#475156]">826</p>
                                </div>

                            </div>
                            <div>
                                <p class="text-[18px] font-medium text-[#191C1F]">Curabitur massa orci, consectetur et
                                    <br>
                                    blandit ac, auctor et tellus.
                                </p>
                            </div>
                        </div>

                        <div>
                            <p class="text-[16px] font-normal text-[#77878F]">Pellentesque vestibulum lorem vel gravida
                                <br>
                                aliquam. Morbi porta, odio id suscipit mattis,
                                <br> risus
                                augue condimentum purus.
                            </p>
                        </div>

                    </div>


                    <div class="border-[2px] rounded border-[#FFE7D6] w-max">
                        <button class="flex gap-2 px-6 py-2 text-sm font-bold text-[#FA8232]">READ MORE
                            <app-latestright></app-latestright>
                        </button>
                    </div>




                </div>
            </div>

        </div>

    </div>

</div>