<div class="container mx-auto ">
    <div
        class="md:py-10 md:px-12.5 md:flex-row md:justify-between md:items-center bg-[#FFE7D6] flex flex-col-reverse gap-2 p-4 ">
        <div class="flex flex-col gap-[22px] p-4 md:p-0">


            <div class="flex flex-col gap-3">
                <p class="py-1.5 px-3 bg-[#2DA5F3] text-sm font-semibold text-[#FFFFFF] w-max">SAVE UP TO $200.00</p>
                <h1 class="text-[48px] font-semibold text-[#191C1F]">Macbook Pro</h1>
            </div>

            <div>
                <p class="text-[24px] font-semibold text-[#191C1F]">Apple M1 Max Chip. 32GB Unified <br> Memory, 1TB SSD
                    Storage
                </p>
            </div>

            <div class="px-8 py-2 bg-[#FA8232] w-max">
                <button class="flex gap-3 text-[16px] font-bold text-[#FFFFFF]">SHOP NOW
                    <app-righticon></app-righticon>
                </button>
            </div>



        </div>

        <div class="relative p-4 md:p-0">

            <div
                class="absolute md:-top-0 md:-left-10 -top-0 -left-0  w-24 h-24 bg-[#FFD6B4] border-[6px] border-white rounded-full flex items-center justify-center text-xl font-semibold text-[#1E1E1E]">
                $1999
            </div>

            <img src="Laptop.png" alt="Macbook Pro" class="h-64 object-contain" />
        </div>






    </div>

</div>