<div class="container mx-auto max-w-[1440px] px-4 md:px-0 py-4 md:py-0">

  <div class="py-18 flex flex-col gap-10">
    <div class="w-full">
      <p class="text-center font-sans text-[24px] font-bold ">Popular Topics</p>
    </div>
    <div class="flex flex-col gap-2 md:flex-row md:gap-6">
      <div class="flex-1 ">


        <p class="relative before:content-['•'] before:mr-2  font-sans text-[16px] font-normal">How do I return my item?
        </p>
        <p class="relative before:content-['•'] before:mr-2 font-sans text-[16px] font-normal">What is Clicons Returns
          Policy?</p>
        <p class="relative before:content-['•'] before:mr-2 font-sans text-[16px] font-normal">How long is the refund
          process?</p>

      </div>
      <div class="flex-1">
        <p class="relative before:content-['•'] before:mr-2 font-sans text-[16px] font-normal">What are the 'Delivery
          Timelines'?</p>
        <p class="relative before:content-['•'] before:mr-2 font-sans text-[16px] font-normal">What is 'Discover Your
          Daraz Campaign 2022'?</p>
        <p class="relative before:content-['•'] before:mr-2 font-sans text-[16px] font-normal">What is the Voucher &
          Gift Offer in this Campaign?</p>
      </div>
      <div class="flex-1">
        <p class="relative before:content-['•'] before:mr-2 font-sans text-[16px] font-normal">How to cancel Clicon
          Order.</p>
        <p class="relative before:content-['•'] before:mr-2 font-sans text-[16px] font-normal">Ask the Digital and
          Device Community</p>
        <p class="relative before:content-['•'] before:mr-2 font-sans text-[16px] font-normal">How to change my shop
          name?</p>
      </div>
    </div>
  </div>
</div>