<div class="container mx-auto ">

  <div class=" gap-6  py-10 flex  flex-col md:flex-row md:justify-between">



    <div class=" bg-[#F2F4F5] rounded md:p-18 p-4 flex flex-col gap-5 md:gap-0">

      <div class="md:flex-row md:items-center flex flex-col-reverse gap-2 ">
        <div class="flex flex-col gap-6 ">

          <div class="flex flex-col gap-4">
            <div class="flex flex-col gap-1">
              <div class="flex gap-2 items-center">
                <img src="divider.svg" alt="">
                <p class="text-sm font-semibold text-[#2484C2]">THE BEST PLACE TO PLAY</p>
              </div>
              <h1 class="text-[48px] font-semibold text-[#191C1F]">Xbox Console</h1>
            </div>
            <p class="text-[18px] font-normal text-[#475156]">Save up to 50% on select Xbox games. Get <br> 3 months of
              PC
              Game
              Pass for $2 USD.</p>
          </div>
          <button class="flex gap-2 items-center px-6 bg-[#FA8232] text-sm font-bold text-[#FFFFFF] w-max py-2">
            SHOP NOW
            <app-righticon></app-righticon>
          </button>


        </div>

        <div class="relative">
          <img src="xbox.svg" alt="">
          <p
            class="rounded-full py-7 px-5 bg-[#2DA5F3] absolute top-0 right-0 text-[20px] font-semibold text-[#FFFFFF] ">
            $590</p>
        </div>

      </div>

      <div class="flex gap-2 items-center">
        <div class="w-[10px] h-[10px] bg-[#191C1F] rounded-full"></div>
        <div class="w-[10px] h-[10px] bg-[#ADB7BC] rounded-full"></div>
        <div class="w-[10px] h-[10px] bg-[#ADB7BC] rounded-full"></div>
      </div>
    </div>



    <div class="flex flex-col md:gap-6 md:flex-col">
      <div
        class=" bg-[#191C1f] md:flex-row items-center md:gap-6 md:pt-11 md:pl-11 rounded flex-1 flex flex-col gap-2 pt-4 ">
        <div class="flex flex-col gap-4.5 pb-10 ">
          <div class="flex flex-col gap-[5px]">
            <p class="text-sm font-semibold text-[#EBC80C]">SUMMER SALES</p>
            <h1 class="text-[24px] text-[#FFFFFF] font-semibold">New Google <br> Pixel 6 Pro</h1>
          </div>
          <button class="flex gap-2 items-center px-4 bg-[#FA8232] text-sm font-bold text-[#FFFFFF] w-max py-2">
            SHOP NOW
            <app-righticon></app-righticon>
          </button>

        </div>

        <div class="relative">
          <img src="pixel.svg" alt="">
          <p class="bg-amber-300 w-maxc absolute -top-6 right-6 py-2 px-4">29% OFF</p>
        </div>


      </div>


      <div class="flex gap-5 items-center py-10 pr-10 pl-8 bg-[#F2F4F5] flex-1">

        <div>
          <img src="budspro.svg" alt="">
        </div>

        <div class="flex flex-col gap-5">
          <div class="flex flex-col gap-3">
            <h1 class="text-[24px] font-semibold text-[#191C1F]">Xiaomi <br> FlipBuds Pro</h1>
            <p class="text-[18px] font-semibold tex-[#2DA5F3]">$299 USD</p>
          </div>

          <button class="flex gap-2 items-center px-4 bg-[#FA8232] text-sm font-bold text-[#FFFFFF]  py-2">
            SHOP NOW
            <app-righticon></app-righticon>
          </button>
        </div>




      </div>
    </div>
  </div>
</div>