/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

body {
    margin: 0px;
}

.input-control {
    border: 1px solid #E4E7E9;
    border-radius: 2px;

}

input {
    outline: none;
}


html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
