<section class="container mx-auto max-w-[1440px] px-2 md:px-0">
    <app-widget></app-widget>
</section>


<section class="container mx-auto max-w-[1440px] px-2 md:px-0">
    <app-feature></app-feature>
</section>


<section class="container mx-auto max-w-[1440px] px-2 md:px-0">
    <app-bestdeals></app-bestdeals>
</section>

<section class="container mx-auto max-w-[1440px] px-2 md:px-0">
    <app-category></app-category>
</section>
<section class="container mx-auto max-w-[1440px] px-2 md:px-0">

</section>
<section class="container mx-auto max-w-[1440px] px-2 md:px-0">
    <app-products></app-products>
</section>

<section class="container mx-auto max-w-[1440px] px-2 md:px-0">
    <app-poster></app-poster>
</section>
<section class="container mx-auto max-w-[1440px] px-2 md:px-0">
    <app-accessories></app-accessories>
</section>
<section class="container mx-auto max-w-[1558px] px-2 md:px-0">
    <app-banner></app-banner>
</section>
<section class="container mx-auto max-w-[1440px] px-2 md:px-0">
    <app-productcategory></app-productcategory>
</section>



<section class=" ">
    <app-latestnews></app-latestnews>
</section>
<section class="">
    <app-letter></app-letter>
</section>